.card-report .ant-card-body {
  display: flex !important;
  justify-content: space-between;
  align-items: flex-start;
}

.card-report .ant-card-body .title {
  color: #222222;
  font-weight: bold;
  margin: 0;
}
.card-report .ant-card-body .right span {
  font-size: 16px;
}
.card-report .ant-card-body .icon {
  width: 50px;
  height: 50px;
  padding: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: teal;
  border-radius: 10px;
  color: #fff;
}

.card-report .ant-card-body .icon * {
  font-size: 20px;
}

.das{
    background: #464646;
}